<a href="https://colab.research.google.com/github/Benjamindavid03/Youtube/blob/main/Pokemon_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting the Pokemon

In [23]:
# importing libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# Import the Pokemon Data

In [24]:
# loading dataset
nRowsRead = 1000 # specify 'None' if want to read whole file
df1 = pd.read_csv('https://raw.githubusercontent.com/Benjamindavid03/MachineLearning/main/pokePd.csv', delimiter=',', nrows = nRowsRead)
df1

,ID,Name,Type,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,0,Bulbasaur,"['Grass', 'Poison']",318,45,49,49,65,65,45
1,1,Ivysaur,"['Grass', 'Poison']",405,60,62,63,80,80,60
2,2,Venusaur,"['Grass', 'Poison']",525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,"['Grass', 'Poison']",625,80,100,123,122,120,80
4,4,Charmander,['Fire'],309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
995,995,Obstagoon,"['Dark', 'Normal']",520,93,90,101,60,81,95
996,996,Perrserker,['Steel'],440,70,110,100,50,60,50
997,997,Cursola,['Ghost'],510,60,95,50,145,130,30
998,998,Sirfetch'd,['Fighting'],507,62,135,95,68,82,65
999,999,Mr. Rime,"['Psychic', 'Ice']",520,80,85,75,110,100,70

# Pre process the pokemon data to fit into a ML algorithm

In [31]:
#preparing the data
X = df1.drop(columns=['Name','ID','Type','Total']) # features
y = df1['Name'] #label
X
X = X.values # converting to values
X

array([[ 45,  49,  49,  65,  65,  45],
       [ 60,  62,  63,  80,  80,  60],
       [ 80,  82,  83, 100, 100,  80],
       ...,
       [ 60,  95,  50, 145, 130,  30],
       [ 62, 135,  95,  68,  82,  65],
       [ 80,  85,  75, 110, 100,  70]])

# Learn the features of the pokemon species

In [36]:
model = DecisionTreeClassifier(criterion='gini')
model.fit(X,y)

DecisionTreeClassifier()

# Predict a pokemon

In [44]:
input = [ [45, 49, 49, 65, 65, 45] ]
y_pred = model.predict(input)
print("The predicted pokemon is ")
y_pred[0]

The predicted pokemon is

'Bulbasaur'

<img src='https://assets.pokemon.com/assets/cms2/img/pokedex/full/129.png'/>